@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#bg-image {
    background-image: url("../images/bg.jpg");
    background-size: cover;

    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    background-position: center;
    background-repeat: no-repeat;
    height: 40%;
    
}

#splash {
    background-color: rgba(0,0,0,0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;

    animation: backgroundFade 2s;
}

#content #splash #textContainer h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 200%;
    animation: fade 1s, zoom 1s;
}

#content {
    top: 0;
    left: 0;
}

#content #splash #pfpContainer {
    height: 50%;
}

#content #splash #pfpContainer img {
    display:block;
    margin: auto;
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    animation: fade 1s, zoom 1s;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.projectCard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "cardHeader           cardHeader"
    "cardDescription      cardDescription"
    "cardTags             cardTags"
    "cardLinks            cardLinks";

    background-color: whitesmoke;
    margin-top: 50px;
    max-width: 500px;
    padding: 10px 10px;
    animation: fade 1s, zoom 1s;
}

.projectCard .cardHeader{
    grid-area: cardHeader;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.projectCard .cardHeader .cardImage {
    align-self: center;
    justify-self: center;
}

.projectCard .cardHeader .cardTitle {
    text-align: center;
}

.projectCard .cardDescription {
    grid-area: cardDescription
}

.projectCard .cardTags  {
    display: flex;
    flex-direction: row;
    grid-area: cardTags;
}

.projectCard .cardLinks {
    display: flex;
    flex-direction: row;
    grid-area: cardLinks;
}

.projectCard .cardImage img {
    height: 50px;
    width: 50px;
}

.projectCard .cardTitle h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 200%;
    color: black;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 100%;
}

.projectCard .cardDescription p, .projectCard .cardTags p , .projectCard .cardLinks a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: black;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectCard .cardTags .tag, .projectCard .cardLinks .link  {
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
    background-color: gainsboro;
}

.projectCard .cardTags .tag, .projectCard .cardLinks .link:hover  {
    background-color: lightgray;
}

.loading *,
.loading *:before,
.loading *:after {
  animation-play-state: paused !important;
}

@media only screen and (min-width: 768px) {
    #splash {
        flex-direction: row;
    }

    #content #splash #pfpContainer {
        margin-right: 5%;
    }

    #content #splash #textContainer h1 {
        font-size: 500%;
    }

    #content #projects {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #content #projects .projectCard {
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .projectCard {
        grid-template-columns: 1fr 5fr;
    }
}

@media only screen and (orientation: landscape){
    #splash {
        flex-direction: row;
    }

    #content #splash #pfpContainer {
        margin-right: 5%;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828 ;
    }
    #projects {
        background-color: #282828
    }

    .projectCard {
        background-color: #404040;
    }
    .projectCard .cardTitle h1, .projectCard .cardDescription p, .projectCard .cardTags p , .projectCard .cardLinks a{ 
        color: white;
    }

    .projectCard .cardTags .tag, .projectCard .cardLinks .link  {
        background-color: #505050;
    }

    .projectCard .cardTags .tag, .projectCard .cardLinks .link:hover  {
        background-color: #606060;
    }
    
}

@keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

@keyframes zoom {
    from {
        transform: scale(.50);
    }
    to {
        transform: none;
    }
}

@keyframes backgroundFade {
    from {
        background-color: rgb(0,0,0);
    }

    to {
        background-color: rgba(0,0,0,0.7);
    }
}