@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#bg-image {
    background-image: url("images/bg.jpg");
    background-size: cover;

    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    animation: fade 1s;
}

#splash {
    animation: backgroundFade 2s;
    background-color: rgba(0,0,0,0.7);
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

#pfpContainer {
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%
}

#pfpContainer img {
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    animation: fade 1s, zoom 1s;
}

#textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 70%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

#textContainer h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 300%;
    color: white;
    text-align: center;

    animation: fade 1s, zoom 1s;
    margin-bottom: 0;
}

#textContainer h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 100%;
    text-align: center;
    color: white;

    animation: fade 1s, zoom 1s;
}

#textContainer .description {
    margin-bottom: 10%;
}
#textContainer .button {
    font-family: 'Montserrat', sans-serif;
    background-color: #00afff;
    font-size: 100%;
    color: white;
    padding: 2% 1.5%;
    text-decoration: none;
    text-align: center;
    width: 30%;
    margin-top: 5%;
    animation: fade 1s, zoom 1s;
}

#textContainer .button:hover {
    background-color: #33bfff;
    cursor: pointer;
}


.loading *,
.loading *:before,
.loading *:after {
  animation-play-state: paused !important;
}

/* Landscape  -- display content in rows, not columns*/
@media only screen and (orientation: landscape) {
    #splash{
        flex-direction: row;
    }

    #pfpContainer {
        width: 40%;
        height: 40%;
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 0;
    }
    
    #textContainer {
        height: 100%;
        width: 60%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 0;
    }
}    

/* Portrait widescreen (ex tablets) -- display text in large font*/
@media only screen and (min-width: 768px) and (orientation: portrait){
    
    #textContainer h1 {
        font-size: 500%;
    }
    
    #textContainer h2 {
        font-size: 200%;
    }
    #textContainer .button {
        font-size: 200%;
        padding: 4% 10%;
    }
} 

/* Portrait tall screen (ex tall phones) -- increase button size*/
@media only screen and (min-height: 768px) and (orientation: portrait){
    
    #textContainer .button {
        padding: 4% 10%;
    }
} 

/* Landscape tall display (ex: computer)s */
@media only screen and (min-height: 768px) and (orientation: landscape){
    #textContainer h1 {
        font-size: 500%;
    }
    
    #textContainer h2 {
        font-size: 200%;
    }

    #textContainer .button {
        font-size: 200%;
        padding: 4% 10%;
    }
    
}    

/* Landscape short display (ex: phones) */
@media only screen and (max-height: 450px) and (orientation: landscape){
    #textContainer h1 {
        font-size: 200%;
    }
    
    #textContainer h2 {
        font-size: 100%;
    }

    #textContainer .button {
        font-size: 100%;
    }
    
}    

@keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  

@keyframes zoom {
    from {
        transform: scale(.50);
    }
    to {
        transform: none;
    }
}

@keyframes backgroundFade {
    from {
        background-color: rgb(0,0,0);
    }

    to {
        background-color: rgba(0,0,0,0.7);
    }
}